body {
  background: black;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: tahoma, verdana, sans serif;
  display:flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background: #fafafa;
}
canvas:fullscreen{
  background-color: black;
}

#controls{
  margin-left: 1rem;
}

#volumeLabel{
  margin-left: 1rem;
}

section{
  margin-bottom: 1rem;
}

#trackCustom,#imgCustom{
  display: none;
}
